
* {
	box-sizing: border-box;
}
html	{
	min-height: 100%;
}
body {
	margin: 0;
	position: relative;	
	background-color: #fff;
}

.fill-layer {
	height: 100vh;
	width: 100%;
	background: $primary; 
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 1rem; 
}

.animation-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
	position: relative;
	width: 100%;
}

.animation {
	position: relative;
	height: 150px;
	width: 300px;
	@include md-up {
		height: 200px;
		width: 400px;
	}
	@include lg-up {
		height: 250px;
		width: 500px;
	}

	&:before,
	&:after {
		content: '';
		width: 0%;
		height: 0%;
		padding-top: 15%;
		padding-left: 15%;
		background-color: #fff;
		display: block;
		position: absolute;
		left: 50%;
		transform: translate3d(-50%, 50%, 0);
		bottom: 0%;	
		z-index: 10;
		background-color: #fff;
	}
	&:before {
		border-radius: 00 0;
		bottom: -15%;
	}
	&:after {
		border-radius: 50%
	}
}

.logo {
	opacity: 0;
	width: 50%;
	height: 0;
	padding-top: 4.5%;
	position: absolute;
	bottom: 0%;
	background-color: $primary;
	transform-origin: center right;
	
	
}


