$primary: #008085;


html	{
	min-height: 100%;
}
body {
	position: relative;	
	background-color: #fff;
}

.fill-layer {
	height: 100vh;
	width: 100%;
}

.animation-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
	position: relative;
	width: 100%;
}

.animation {
	position: relative;
	height: 200px;
	width: 400px;

	&:after {
		content: '';
		width: 0%;
		height: 0%;
		padding-top: 15%;
		padding-left: 15%;
		background-color: #fff;
		display: block;
		position: absolute;
		left: 50%;
		transform: translate3d(-50%, 50%, 0);
		bottom: 0%;
		border-radius: 50%;
		z-index: 10;
		background-color: #fff;
	}
}

.logo {
	opacity: 0;
	width: calc(50% - 20px);
	height: 0;
	padding-top: 4.5%;
	position: absolute;
	bottom: 0%;
	background-color: $primary;
	transform-origin: center right;
	border-right: 20px solid transparent;
	transition: all .2s ease;
}


