$primary: #008085;


html	{
	min-height: 100%;
}
body {
	position: relative;	
	align-items: center;
	flex-direction: column;
	background-color: #fff;
}

.top {
	min-height: 100vh;
	width: 100px;
}
.container {
	display: grid;
	grid-gap: 2rem;
	grid-template: auto / 4fr;
	position: relative;
	width: 500px;
	margin: auto;
	padding: 0 0;
}

.logo {
	opacity: 0;
	width: calc(50% - 20px);
	height: 0;
	padding-top: 4.5%;
	position: absolute;
	bottom: 0%;
	background-color: $primary;
	transform-origin: center right;
	border-right: 20px solid transparent;
	transition: all .2s ease;
}
.trigger {
	position: absolute;
	top: 50%;
	height: 100vh;
	width: 1px;
	z-index: 10;
	/*background-color: red;*/
}

$i: 0;
/*
// @for $i from 1 through 9 {
//   .logo:nth-child(2n + #{$i + 1}) {
//     transform: rotate(calc(180deg / 8 * #{$i}));	
//  }
// }
*/

.animation {
	position: relative;
	height: 1px;
	padding-top: 50%;
	&:after {
		content: '';
		width: 0%;
		height: 0%;
		padding-top: 15%;
		padding-left: 15%;
		background-color: #fff;
		display: block;
		position: absolute;
		left: 50%;
		transform: translate3d(-50%, 50%, 0);
		bottom: 0%;
		border-radius: 50%;
		z-index: 10;
	}
}

.fill-layer {
	height: 100vh;
	width: 100%;
}
